.section {
  margin: 0 auto;
  padding: 25px;

  width: 600px;
  font-family: sans-serif;
}

.title {
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #eee;
  font-size: 24px;
}
